In [1]:
import pandas as pd
dataset=pd.read_csv("50_startups.csv")
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   106181.02       195437.69         64143.13    New York  197325.25
1   192607.15       166269.92        336384.69    New York  127495.38
2   159799.09       190924.84        191460.19     Florida   89124.38
3   139798.77       184224.10        278856.81  California  199438.05
4    73402.80       139685.00        458404.91  California  194812.90
5    73399.18       188281.14        162181.50    New York  133744.02
6    58712.54        63273.88        234672.32  California  182395.45
7   179926.42        79397.43        389998.01  California   78306.07
8   140167.25        56784.09        152959.17     Florida   91830.70
9   156210.89        98799.55         84640.96     Florida  155053.67
10   53087.67       108301.59        180388.15     Florida  176999.17
11  195486.48        90702.35        122549.58     Florida  178448.64
12  174866.40       174310.63        468363.94    New York  110676.22
13   81850.87       103513.00        413654.17     Florida  183165.51
14   77273.75        92140.18        335031.69  California  177639.27
15   77510.68       131404.41        442157.27    New York  190345.25
16   95636.34        71138.63        411652.43  California  167801.10
17  128713.46       170329.55        133956.53  California  150348.24
18  114791.75        61182.60        451651.55  California  137102.99
19   93684.37       198033.04        292704.01     Florida  105842.41
20  141777.93       165836.72        413348.07     Florida  191020.02
21   70924.08        79807.35        453241.08    New York  196049.58
22   93821.70        50828.32        193101.56    New York   92588.15
23  104954.28       172319.21         99523.37     Florida   95804.58
24  118410.50       156028.60        152570.82  California  122842.06
25  167776.39       159351.08        242198.50    New York  117263.62
26   79951.07       165690.55        418106.64     Florida  199168.62
27  127135.17        61106.70        437328.76     Florida   76388.79
28  138862.19       103769.86         53128.46     Florida   52711.30
29   56967.56        67380.36        279836.29  California  124084.06
30  141131.73       179465.51        237834.95     Florida   76823.41
31   75578.62       143494.72        149948.51     Florida  104970.32
32   59757.74        99634.70        103939.42     Florida  161625.58
33  192332.83        59533.75        201926.83     Florida  158140.99
34  194844.80        96647.35        474309.37    New York   96209.12
35  171259.60        98777.50        195441.32    New York  131381.03
36   95692.07       159440.93        283455.78     Florida  126322.11
37   64650.82       145633.62        366358.53  California  145449.89
38  152634.95       183081.91        213633.32    New York   87569.27
39  116022.87       120832.24        487301.94     Florida  138480.63
40   68305.74        67939.14        483101.28    New York  196833.93
41  124276.54       156986.72        163302.03    New York  123011.32
42   55158.28       164117.76        273761.83  California  185914.82
43  186398.06       134191.58        185395.24     Florida  115159.15
44   88817.00       165645.08        178178.22     Florida  102511.76
45  149378.34       124069.34         66599.13  California  146765.50
46   96756.66       128409.92        324303.95  California  150338.61
47  128010.20       114131.15        276205.56     Florida  179625.13
48  132006.54        53812.87         73165.44     Florida   84527.79
49   77728.17        66183.71        175390.91  California  124879.01

In [2]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,106181.02,195437.69,64143.13,197325.25,0,1
1,192607.15,166269.92,336384.69,127495.38,0,1
2,159799.09,190924.84,191460.19,89124.38,1,0
3,139798.77,184224.10,278856.81,199438.05,0,0
4,73402.80,139685.00,458404.91,194812.90,0,0
5,73399.18,188281.14,162181.50,133744.02,0,1
6,58712.54,63273.88,234672.32,182395.45,0,0
7,179926.42,79397.43,389998.01,78306.07,0,0
8,140167.25,56784.09,152959.17,91830.70,1,0
9,156210.89,98799.55,84640.96,155053.67,1,0
10,53087.67,108301.59,180388.15,176999.17,1,0
11,195486.48,90702.35,122549.58,178448.64,1,0
12,174866.40,174310.63,468363.94,110676.22,0,1
13,81850.87,103513.00,413654.17,183165.51,1,0
14,77273.75,92140.18,335031.69,177639.27,0,0
15,77510.68,131404.41,442157.27,190345.25,0,1
16,95636.34,71138.63,411652.43,167801.10,0,0
17,128713.46,170329.55,133956.53,150348.24,0,0
18,114791.75,61182.60,451651.55,137102.99,0,0
19,93684.37,198033.04,292704.01,105842.41,1,0
20,141777.93,165836.72,413348.07,191020.02,1,0
21,70924.08,79807.35,453241.08,196049.58,0,1
22,93821.70,50828.32,193101.56,92588.15,0,1
23,104954.28,172319.21,99523.37,95804.58,1,0
24,118410.50,156028.60,152570.82,122842.06,0,0
25,167776.39,159351.08,242198.50,117263.62,0,1
26,79951.07,165690.55,418106.64,199168.62,1,0
27,127135.17,61106.70,437328.76,76388.79,1,0
28,138862.19,103769.86,53128.46,52711.30,1,0
29,56967.56,67380.36,279836.29,124084.06,0,0
30,141131.73,179465.51,237834.95,76823.41,1,0
31,75578.62,143494.72,149948.51,104970.32,1,0
32,59757.74,99634.70,103939.42,161625.58,1,0
33,192332.83,59533.75,201926.83,158140.99,1,0
34,194844.80,96647.35,474309.37,96209.12,0,1
35,171259.60,98777.50,195441.32,131381.03,0,1
36,95692.07,159440.93,283455.78,126322.11,1,0
37,64650.82,145633.62,366358.53,145449.89,0,0
38,152634.95,183081.91,213633.32,87569.27,0,1
39,116022.87,120832.24,487301.94,138480.63,1,0
40,68305.74,67939.14,483101.28,196833.93,0,1
41,124276.54,156986.72,163302.03,123011.32,0,1
42,55158.28,164117.76,273761.83,185914.82,0,0
43,186398.06,134191.58,185395.24,115159.15,1,0
44,88817.00,165645.08,178178.22,102511.76,1,0
45,149378.34,124069.34,66599.13,146765.50,0,0
46,96756.66,128409.92,324303.95,150338.61,0,0
47,128010.20,114131.15,276205.56,179625.13,1,0
48,132006.54,53812.87,73165.44,84527.79,1,0
49,77728.17,66183.71,175390.91,124879.01,0,0

In [3]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [4]:
independent=dataset[['R&D Spend', 'Administration', 'Marketing Spend', 'State_Florida', 'State_New York']]
independent

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   106181.02       195437.69         64143.13              0               1
1   192607.15       166269.92        336384.69              0               1
2   159799.09       190924.84        191460.19              1               0
3   139798.77       184224.10        278856.81              0               0
4    73402.80       139685.00        458404.91              0               0
5    73399.18       188281.14        162181.50              0               1
6    58712.54        63273.88        234672.32              0               0
7   179926.42        79397.43        389998.01              0               0
8   140167.25        56784.09        152959.17              1               0
9   156210.89        98799.55         84640.96              1               0
10   53087.67       108301.59        180388.15              1               0
11  195486.48        90702.35        122549.58              1               0
12  174866.40       174310.63        468363.94              0               1
13   81850.87       103513.00        413654.17              1               0
14   77273.75        92140.18        335031.69              0               0
15   77510.68       131404.41        442157.27              0               1
16   95636.34        71138.63        411652.43              0               0
17  128713.46       170329.55        133956.53              0               0
18  114791.75        61182.60        451651.55              0               0
19   93684.37       198033.04        292704.01              1               0
20  141777.93       165836.72        413348.07              1               0
21   70924.08        79807.35        453241.08              0               1
22   93821.70        50828.32        193101.56              0               1
23  104954.28       172319.21         99523.37              1               0
24  118410.50       156028.60        152570.82              0               0
25  167776.39       159351.08        242198.50              0               1
26   79951.07       165690.55        418106.64              1               0
27  127135.17        61106.70        437328.76              1               0
28  138862.19       103769.86         53128.46              1               0
29   56967.56        67380.36        279836.29              0               0
30  141131.73       179465.51        237834.95              1               0
31   75578.62       143494.72        149948.51              1               0
32   59757.74        99634.70        103939.42              1               0
33  192332.83        59533.75        201926.83              1               0
34  194844.80        96647.35        474309.37              0               1
35  171259.60        98777.50        195441.32              0               1
36   95692.07       159440.93        283455.78              1               0
37   64650.82       145633.62        366358.53              0               0
38  152634.95       183081.91        213633.32              0               1
39  116022.87       120832.24        487301.94              1               0
40   68305.74        67939.14        483101.28              0               1
41  124276.54       156986.72        163302.03              0               1
42   55158.28       164117.76        273761.83              0               0
43  186398.06       134191.58        185395.24              1               0
44   88817.00       165645.08        178178.22              1               0
45  149378.34       124069.34         66599.13              0               0
46   96756.66       128409.92        324303.95              0               0
47  128010.20       114131.15        276205.56              1               0
48  132006.54        53812.87         73165.44              1               0
49   77728.17        66183.71        175390.91              0               0

In [5]:
dependent=dataset[['Profit']]
dependent

       Profit
0   197325.25
1   127495.38
2    89124.38
3   199438.05
4   194812.90
5   133744.02
6   182395.45
7    78306.07
8    91830.70
9   155053.67
10  176999.17
11  178448.64
12  110676.22
13  183165.51
14  177639.27
15  190345.25
16  167801.10
17  150348.24
18  137102.99
19  105842.41
20  191020.02
21  196049.58
22   92588.15
23   95804.58
24  122842.06
25  117263.62
26  199168.62
27   76388.79
28   52711.30
29  124084.06
30   76823.41
31  104970.32
32  161625.58
33  158140.99
34   96209.12
35  131381.03
36  126322.11
37  145449.89
38   87569.27
39  138480.63
40  196833.93
41  123011.32
42  185914.82
43  115159.15
44  102511.76
45  146765.50
46  150338.61
47  179625.13
48   84527.79
49  124879.01

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [7]:
from sklearn.ensemble import AdaBoostRegressor
regressor=AdaBoostRegressor(random_state=0,n_estimators=100)
regressor.fit(x_train,y_train)

C:\anaconda\learn\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=100, random_state=0)

In [8]:
weight=regressor.estimator_weights_

In [9]:
weight

array([1.58659563, 1.25310252, 1.63408534, 1.46874942, 0.98190252,
       1.43220107, 0.97630893, 1.48543345, 1.08668803, 1.37717441,
       1.62443054, 1.51554983, 1.32843163, 0.76110676, 0.67759884,
       1.16977309, 0.58544428, 1.41916114, 0.88393121, 0.62743009,
       1.14938148, 1.42882602, 1.4728649 , 1.80421234, 1.10701339,
       1.29070143, 1.25807752, 1.35712285, 0.32025837, 1.27861691,
       1.11854528, 1.29577159, 1.37859788, 0.57365927, 1.05169929,
       0.95231837, 1.42470358, 0.63311784, 1.43979454, 1.54043101,
       0.88179617, 0.80167688, 1.15520028, 1.18620327, 0.58729257,
       1.40661549, 0.79258013, 1.2109927 , 1.29050117, 1.54963621,
       1.28406491, 1.338621  , 0.74560642, 1.45782649, 1.44948907,
       1.65143459, 1.26708981, 0.83344721, 1.37127807, 1.06300016,
       1.08643561, 1.36461443, 1.22520613, 1.15322134, 1.10753121,
       1.17435123, 1.20937847, 0.96150064, 1.20605193, 0.41708381,
       0.86945173, 0.9155229 , 0.67485727, 0.83670906, 0.78456037,
       0.40911879, 1.07269661, 0.95482241, 1.32242253, 1.2107844 ,
       1.17119627, 1.46310913, 0.90254234, 1.14363252, 1.34734697,
       0.40702003, 0.52572927, 1.26955235, 1.14771225, 1.00287732,
       1.4472221 , 1.17573821, 1.44555907, 1.33702324, 1.26743909,
       0.99495193, 0.78714736, 1.3031058 , 0.9532948 , 1.32507131])

In [10]:
y_pred=regressor.predict(x_test)

In [11]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [12]:
r_score

-0.017585190535627904

In [13]:
import pickle
filename="finalized_model_adaboost.sav"
pickle.dump(regressor,open(filename,'wb'))
loaded_model=pickle.load(open("finalized_model_adaboost.sav",'rb'))
result=loaded_model.predict([[1234,342,4565,1,0]])
result

array([126876.92714286])